<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gray2Green . preserving the integrity of the earth</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">Join Us</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="about-firstt ">
    <div class="contt ttt">
      <h3>ABOUT US</h3>
      <h1>Gray2Green Movement</h1>

      <p>We are a youth-led climate justice and air quality advocacy movement. We believe that
        the convergence of technological change and social innovation will provide a successful
        transition to sustainable development.</p>
    </div>
  </div>
</div>


<div class="second-ab">
  <div class="ttts">
    <div class="one1">
      <img src="images/telescope.svg" alt="">
      <h2>Our Vison</h2>
      <p>To create a path that lead to an inclusive,
        resilient and sustainable community where
        humanity build creative and long standing
        solutions to the critical issues of our
        society.</p>
    </div>
    <div class="one1">
      <img src="images/search.svg" alt="">
      <h2>Our Focus</h2>
      <p>
        We are committed to developing and
        maintaining a structure that can effectively
        contribute to global climate change cam-
        paign by projecting our values into the
        culture of local communities.
      </p>
    </div>
  </div>
  <div class="ttts">
    <div class="one1">
      <img src="images/flat.svg" alt="">
      <h2>Our Mision</h2>
      <p>
        To consolidate ourselves with the global
        climate justice campaign, we are providing a
        platform to check the climate crisis
        affecting indigenous people in Nigeria.
        We acknowledge the need for
        operational partnership between
        advocates, stakeholders and the
        government.
      </p>
    </div>
    <div class="one1">
      <img src="images/diamond.svg" alt="">
      <h2>Our Value</h2>
      <p>
        We are a youth-led movement
        We will be peaceful and non-violent
        We will extend the hand of friendship
        We will demand that our allies take action
        in solidarity with us
        We will work to protect each other
        We will not allow the system to divide us
        We will sow seeds to protect our future
      </p>
    </div>
  </div>
</div>
<%- include("partials/footer"); %>
