<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gray2Green . preserving the integrity of the earth</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">Join Us</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="gallery-firstt ">
    <div class="contt ttt">
      <h3>GALLERY</h3>
      <h1>Moments Captured.</h1>

      <p>Photos that tell the stories of our climate action</p>
    </div>
  </div>
</div>


<div class="team-card">
  <div class="two22">

    <img class="kk" src="images/asset-1.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-2.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-3.png" alt="">

  </div>
</div>
<div class="team-card">
  <div class="two22">
    <img class="kk" src="images/asset-4.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-12.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-5.png" alt="">

  </div>
</div>
<div class="team-card">
  <div class="two22">
    <img class="kk" src="images/asset-6.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-7.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-8.png" alt="">

  </div>
</div>
<div class="team-card">
  <div class="two22">
    <img class="kk" src="images/asset-9.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-10.png" alt="">

  </div>
  <div class="two22">
    <img class="kk" src="images/asset-11.png" alt="">

  </div>
</div>
<%- include("partials/footer"); %>
