<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gray2Green . preserving the integrity of the earth</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">Join Us</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="firstt ">
  <div class="contt">
      <h1>Preserving the integrity of the
        Earth.</h1>

    <p>We are a youth-led Climate Justice and air quality advocacy movement aimed at

      mobilizing the collective power of society to mitigative Climate Change.</p>
    <form class="" action="/join" method="post">
      <button class="join-btn" type="button" name="button">Join the movement</button>
    </form>
  </div>
  </div>

  <div class="container-fluid">
    <div class="ttts">
      <div class="indiv " >
        <img src="images/gray2green.png" alt="">
        <h2>Mobilization</h2>
        <p>We will continue to mobilize and unite youths
      voice to call for policies that put people and
      planet over profit.</p>
      </div>

      <div class="indiv ">
        <img src="images/treeplanted.png" alt="">
        <h2>Direct Action</h2>
          <p>At Gray2Green, we are resolved to constantly
      take a decision on climate action which
      includes planting trees.</p>
      </div>

      <div class="indiv">
        <img src="images/essay.png" alt="">
        <h2>Education</h2>
          <p>We believe educating and raising awareness
      on climate change will inspire a new genera-
      tion of activists.</p>
      </div>
    </div>


  </div>

</div>
<%- include("partials/footer"); %>
