<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gray2Green . preserving the integrity of the earth</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/join">Join Us</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="join-firstt ">
    <div class="contt ttt">
      <h3>JOIN US</h3>
      <h1>Become Part Of Us</h1>

      <p>Our vision is possible, but we need you to make it happen.</p>
    </div>
  </div>
</div>

<div class="formss">
  <h2>Fill Our membership Form</h2>
  <form class="" action="/join" method="post">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="country" placeholder="Country" value="">
    <input type="text" name="state" placeholder="State" value="">
    <input type="date" name="dob"  placeholder="Date of Birth" value="">
    <input type="email" name="email" placeholder="Email" value="">
    <input type="number" name="phone" placeholder="Phone No." value="">
    <h2>Why do you want to join Us?</h2>
    <textarea name="message" rows="15" cols="40"></textarea>
          <button class="join-btn" type="submit" name="button">Join the movement</button>
  </form>
</div>
<%- include("partials/footer"); %>
